[Unit]
Description=SimpliWiki Engine
Documentation=https://github.com/JeanHuguesRobert/simpli
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/srv/SimpliWiki
Environment="NODE_ENV=production"
EnvironmentFile=/srv/SimpliWiki/.env
ExecStartPre=/usr/local/bin/node /srv/simpli/scripts/check-node-current.js
ExecStart=/usr/local/bin/node /srv/simpli/src/main.js
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
